body{
    background-color: var(--clr-n700);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.app__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

canvas {
    width: 100% !important;
    height: 24rem !important;
    margin-left: -0.25rem
}

.title-slideout{
    animation: titleSlideOut 1s forwards ease-in-out;
}

.graph-slidein{
    animation: graphSlideIn 1s forwards ease-in-out;
}

.graph-slideout{
    animation: graphSlideOut 1s forwards ease-in-out;
}

.title-slidein{
    animation: titleSlideIn 1s forwards ease-in-out;
}

* {
    border: none !important;
}



