.graph{
    width: 85%;
    height: 30rem;
    
    position: absolute;

    display: flex;
    flex-direction: column;
    
    transform: translateY(50rem);
}

.graph__plot{
    width: 100%;
    flex: 3;
    background-color: var(--clr-n600);

    overflow: hidden;
    border-radius: 1rem;
}

.graph__details{
    flex: 1;

    display: flex;
    flex-direction: row;
}

.graph__details__set{
    flex: 3;
    height: 100%;
}

.graph__details__control{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.graph__details__button{
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0;

    margin-top: 1rem;

    background-color: none;
}

.up__icon{
    width: 2rem;
    height: 2rem;
    color: var(--clr-n400);
}

.up__icon:hover {
    color: var(--clr-light);
    transition: all 0.3s ease-in-out;
}

.graph__text__container{
    margin-top: 1rem;
}

.graph__text {
    font-family: 'Panchang', sans-serif;
    font-size: var(--size-lg);
    color: var(--clr-n400);

    font-weight: 300;
}

@keyframes graphSlideIn {
    0% {
        transform: translateY(50rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

@keyframes graphSlideOut {
    0% {
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(50rem);
    }
}